@using SmallAdvertisements.Models.ViewModels.Comments;
@model CommentsFormModel

@{
    var controller = "Home";

    if (Model.CallerView == "Details")
    {
        controller = "Advertisements";
    }

    if (Model.CallerView == "MyAdvertisements")
    {
        controller = "Advertisements";
    }
}

<h1>Add comment</h1>

<a asp-controller="@controller" asp-action="@Model.CallerView" asp-route-advertisementId="@Model.AdvertisementId" class="btn btn-secondary">Back</a>

<partial name="_CommentFormPartial.cshtml" for="@Model" />
