@using SmallAdvertisements.Models.ViewModels.Advertisement;

@model AdvertisementFormModel

<h1>Add Adverisement</h1>

<a asp-controller="Home" asp-action="Index" class="btn btn-secondary">Back</a>

<partial name="_AdvertisementFormPartial.cshtml" for="@Model" />
