@using SmallAdvertisements.Models.ViewModels.Advertisement;

@model AdvertisementFormModel

<h1>Edit Advertisement</h1>

<a asp-controller="Advertisements" asp-action="MyAdvertisements" class="btn btn-secondary">Back</a>

<partial name="_AdvertisementFormPartial.cshtml" for="@Model" />