@using SmallAdvertisements.Models.ViewModels.Home;
@model IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var advertisment in Model.Advertisements)
{
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">@advertisment.Title</h5>
            <p class="card-text">@advertisment.Body</p>         
            <p class="card-text">@advertisment.Author.UserName</p>
            <a href="#" class="card-link">Details</a>
        </div>
    </div>

}
