@using SmallAdvertisements.Models.ViewModels.Users;
@model InputFormModel

<h1>Login</h1>
<a asp-area="" asp-controller="Users" asp-action="Register">Register</a>

<form method="post">
    <label>UserName</label>
    <input type="text" asp-for="@Model.UserName" />
    <label>Password</label>
    <input type="text" asp-for="@Model.Password" />
    <input type="submit" />
    <div asp-validation-summary="All" class="text-danger"></div>
</form>